{
  "plugins": ["syntax-flow", "syntax-class-properties", "transform-class-properties", "transform-es2015-modules-commonjs", "transform-flow-strip-types"],
  "env": {
    "development": {
      "sourceMaps": true
    },
    "test": {
      "sourceMaps": "both",
      "plugins": ["istanbul"]
    }
  }
}
